.education {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.edu-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
    color: white;
    font-family: "Sansation", sans-serif;
    margin-left: 20px;
}

.edu-block {
    border-bottom: 1px solid white;
    padding: 10px;
    padding-bottom: 30px;
    transition: transform 0.2s ease-in-out;
}

.edu-block:hover {
    transform: scaleY(1.05);
}

.edu-heading {
    font-size: 2rem;
    padding: 15px 0;
    color: aquamarine;
}

.edu-sub {
    font-size: 1.1rem;
    padding: 10px 0;
    color: rgb(230, 255, 226);
}