@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links {
    display: flex;
    flex-direction: column;
}

.navbar-ele {
    font-family: "Silkscreen", sans-serif;
    width: 2.5rem;
    color: white;
    font-size: 2rem;
    transition: 0.4s;
}

.navbar-ele:hover {
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 2.1rem;
    color: transparent;
}